<launch>
  <!-- invalid imu output -->
  <!-- <arg name="imu_topic" value="/sim_imu/frame" /> -->

  <!-- just for visualization, not for solving -->
  <!-- <arg name="camera_topic" value="/sim_camera/frame" /> -->

  <arg name="lidar_topic" value="/sim_lidar/frame" />

  <arg name="imu_odom_topic" value="/imu_ground_truth" />

  <arg name="camera_odom_topic" value="/camera_ground_truth" />

  <arg name="lidar_odom_topic" value="/lidar_ground_truth" />

  <arg name="bag_prefix" value="sim" />

  <arg name="bag_dur" value="35.0" />

  <node pkg="rosbag" type="record" name="record" args="$(arg lidar_topic) $(arg imu_odom_topic) $(arg camera_odom_topic) $(arg lidar_odom_topic)
   -o $(find scene)/bag/$(arg bag_prefix) --duration=$(arg bag_dur)" />

</launch>