<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
  <xacro:property name="transparency" value="0.5" />

  <xacro:include filename="$(find arm_robot)/model/util/util.xacro" />

  <!-- ========================= -->
  <!-- |    for arm params   | -->
  <!-- ========================= -->
  <xacro:property name="link0_length" value="10.0" />
  <xacro:property name="link0_width" value="0.06" />

  <xacro:property name="link1_length" value="0.06" />
  <xacro:property name="link1_width" value="0.06" />

  <xacro:property name="link2_length" value="3.0" />
  <xacro:property name="link2_width" value="0.06" />

  <xacro:property name="link3_length" value="0.1" />
  <xacro:property name="link3_width" value="0.06" />

  <xacro:property name="link4_length" value="0.2" />
  <xacro:property name="link4_width" value="0.06" />

  <xacro:property name="platform_width" value="10.0" />
  <xacro:property name="platform_length" value="0.06" />
  <xacro:property name="platform_mass" value="1000000.0" />

  <xacro:property name="link0_mass" value="50000" />
  <xacro:property name="link1_mass" value="50000" />
  <xacro:property name="link2_mass" value="100" />
  <xacro:property name="link3_mass" value="10" />
  <xacro:property name="link4_mass" value="0.1" />

  <!-- ========================= -->
  <!-- |    for robot params   | -->
  <!-- ========================= -->

  <xacro:property name="base_box_size" value="0.06" />

  <xacro:property name="imu_box_size" value="0.04" />

  <xacro:property name="lidar_cylinder_radius" value="0.03" />
  <xacro:property name="lidar_cylinder_length" value="0.03" />

  <xacro:property name="arm_cylinder_radius" value="0.005" />
  <xacro:property name="arm_cylinder_length" value="0.03" />

  <xacro:property name="wheel_cylinder_radius" value="0.08" />
  <xacro:property name="wheel_cylinder_length" value="0.04" />
  <xacro:property name="ground_clearance" value="0.03" />

  <xacro:property name="camera_box_size" value="0.04" />

  <xacro:property name="PI" value="3.1415926535" />

  <xacro:property name="base_mass" value="0.001" />
  <xacro:property name="lidar_mass" value="0.001" />
  <xacro:property name="arm_mass" value="0.001" />
  <xacro:property name="imu_mass" value="0.001" />
  <xacro:property name="camera_mass" value="0.001" />

  <!-- ========================= -->
  <!-- | for link robot and arm| -->
  <!-- ========================= -->

  <xacro:include filename="$(find arm_robot)/model/arm/arm.xacro" />

  <xacro:include filename="$(find arm_robot)/model/robot/robot.xacro" />

  <xacro:gazebo-joint joint="link0_to_platform" transmission="hardware_interface/PositionJointInterface" />
  <xacro:gazebo-joint joint="link0_to_platform" transmission="hardware_interface/VelocityJointInterface" />
  <xacro:gazebo-joint joint="link0_to_platform" transmission="hardware_interface/EffortJointInterface" />

  <xacro:gazebo-joint joint="link1_to_link0" transmission="hardware_interface/PositionJointInterface" />
  <xacro:gazebo-joint joint="link1_to_link0" transmission="hardware_interface/VelocityJointInterface" />
  <xacro:gazebo-joint joint="link1_to_link0" transmission="hardware_interface/EffortJointInterface" />

  <xacro:gazebo-joint joint="link2_to_link1" transmission="hardware_interface/PositionJointInterface" />
  <xacro:gazebo-joint joint="link2_to_link1" transmission="hardware_interface/VelocityJointInterface" />
  <xacro:gazebo-joint joint="link2_to_link1" transmission="hardware_interface/EffortJointInterface" />

  <xacro:gazebo-joint joint="link3_to_link2" transmission="hardware_interface/PositionJointInterface" />
  <xacro:gazebo-joint joint="link3_to_link2" transmission="hardware_interface/VelocityJointInterface" />
  <xacro:gazebo-joint joint="link3_to_link2" transmission="hardware_interface/EffortJointInterface" />

  <xacro:gazebo-joint joint="link4_to_link3" transmission="hardware_interface/PositionJointInterface" />
  <xacro:gazebo-joint joint="link4_to_link3" transmission="hardware_interface/VelocityJointInterface" />
  <xacro:gazebo-joint joint="link4_to_link3" transmission="hardware_interface/EffortJointInterface" />

  <xacro:gazebo-joint joint="base_to_link4" transmission="hardware_interface/PositionJointInterface" />
  <xacro:gazebo-joint joint="base_to_link4" transmission="hardware_interface/VelocityJointInterface" />
  <xacro:gazebo-joint joint="base_to_link4" transmission="hardware_interface/EffortJointInterface" />

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"></plugin>
  </gazebo>

</robot>