<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

  <xacro:property name="link0_length" value="10.0" />
  <xacro:property name="link0_width" value="0.1" />

  <xacro:property name="link1_length" value="0.3" />
  <xacro:property name="link1_width" value="0.1" />

  <xacro:property name="link2_length" value="3.0" />
  <xacro:property name="link2_width" value="0.1" />

  <xacro:property name="link3_length" value="0.1" />
  <xacro:property name="link3_width" value="0.1" />

  <xacro:property name="link4_length" value="0.2" />
  <xacro:property name="link4_width" value="0.1" />

  <xacro:property name="link5_length" value="0.1" />
  <xacro:property name="link5_width" value="0.1" />

  <xacro:property name="head_size" value="0.1" />
  <xacro:property name="head_mass" value="0.001" />

  <xacro:property name="platform_width" value="10.0" />
  <xacro:property name="platform_length" value="0.1" />
  <xacro:property name="platform_mass" value="100.0" />

  <xacro:property name="link_mass" value="0.001" />

  <xacro:include filename="$(find arm_robot)/model/util/util.xacro" />

  <xacro:include filename="$(find arm_robot)/model/arm/arm.xacro" />
</robot>